@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Poppins';
  color: #2b3e2a9c;
  font-size: 64px;
margin: 0 auto 200px;
 
}
.span {
 color: #278a2279;
}

