.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 600;
  color: rgba(220, 228, 116, 0.85);
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: rgba(57, 86, 56, 0.495);
  border-radius: 10px;
}
.buttonSub {
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background: rgba(57, 86, 56, 0.495);
  color: #fff;
  cursor: pointer;
  transition: all 250ms ease;

  padding: 10px 20px;
  text-decoration: none;
}

.buttonSub:hover,
.buttonSub:focus {
  box-shadow: 0 0px 1px 1px rgba(36, 34, 36, 0.441);
}
